.awesome {
    min-height: 773px;
    padding: 30px 170px 58px 170px;

    
    &__wrapper {
        padding-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        justify-content: space-between;
        &_item {
            display: flex;
            flex-direction: column;
            height: 370px;  //for time
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            &_img {
                width: 92px;
                height: 92px;
                border: 1px solid #EC7979;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &-icon {
                    display: block;
                    margin: 0 auto;                }
            }
            &-descr {
                text-align: center;
            }
        }
    }
}