.awesome {
    min-height: 773px;
    padding: 104px 170px 58px 170px;

    
    &__wrapper {
        padding-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        
        &_item {
            display: flex;
            flex-direction: column;
            // height: 370px;  //for time
            align-items: center;
            padding-top: 40px;
            &_title {
                padding: 70px 0 42px 0;
            }
            &_img {
                width: 92px;
                height: 92px;
                border: 1px solid #EC7979;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &-descr {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 24px;
                line-height: 16px;
                text-align: center;
            }
        }
    }
}
