.download {
    position: relative;
    z-index: 4;
    background: none;
    border: 2px solid #ffffff;
    width: 270px;
    height: 58px;
    font-size: 18px;
    color: #ffffff;
    &:hover {
        cursor: pointer;
    }
    &-red {
        background-color: #EC7979;
        &-w370 {
            display: block;
            width: 370px;
            margin: 0 auto;
        }
    }
    &-w370 {
        width: 370px;
        display: block;
        margin: 0 auto;
    }
}