.button {
    background: none;
    width: 270px;
    height: 58px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 6;
    &_white {
        border: 2px solid #ffffff;
        color: #ffffff;
        &:hover {
            cursor: pointer;
            color: #EC7979;
            border: 2px solid #EC7979;
            transition: all .5s;
        }
    }
    
    &-red {
        height: 62px;
        background-color: #EC7979;
        &:hover {
            background-color: #AB4949;
            color:#ffffff;
            border: 2px solid #AB4949;
            transition: all .5s;
        }
        &-w370 {
            display: block;
            width: 370px;
            margin: 0 auto;
        }
    }
    &-w370 {
        width: 370px;
        display: block;
        margin: 0 auto;
    }
}

//надо переделать классы кнопок