.contact {
    padding: 110px 0 50px 0;

    &__descr {
        padding-bottom: 90px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        padding-bottom: 50px;
    }
    &__form {
        
        &-input {
            padding: 37px 0 15px 0;
            
        }
    }
}