.footer {
    background-color: #000000;
    padding: 36px 0 30px 0;
    &__icons {
        display: flex;
        justify-content: center;
        gap: 33px;

        &_item {
            width: 53px;
            height: 53px;
            // margin: 0 20px;
            img {
                width: 100%;
            }
        }
    }
    &__produce {
        font-family: 'Raleway';
        margin-top: 28px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
    }
}