.social {
    background-color: #F8EFEF;
    padding: 18px 0 18px 0;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }
    &__text {
        width: 40%;

        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            color: #333333;
            padding-bottom: 35px;
        }
        &-descr {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #86878B;
        }
    }
    &__icons {
        width: 60%;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        &_item {
            border-radius: 20px;
            &:hover {
                background-color: #EC7979;
                transform: scale(1.2);
                transition: all 0.5s;
                
            }
        }
    }
}