.testimotionals {
    padding:104px 0 63px 0;
    &__title {
        text-align: center;
    }
    &__wrapper {
        margin-top: 82px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        
        
    }

}

.feedback {

    &__text {
       
        background: #E2E2E2;
        border-radius: 10px;
        padding: 10% 20px;
        height: 180px;
        overflow: hidden;
        &-black {
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #86878B;
            overflow: hidden;
        }
        &-triangle {
            width: 0;
            height: 0;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-top: 20px solid #E2E2E2;
            margin-top: -1px;
            margin-left: 69px;
            // background: #E2E2E2;
        }
    }
    
    &__person {
        display: flex;
        padding-top: 47px;
        
        &-foto {
            margin-right: 30px;
        }
        
            &-name {
                line-height: 55px;
            }
            &-job {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #000000;
                text-transform: capitalize;
                padding-top: 15px;
            }
        
    }   
    }
