.title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
   
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 170px;
        top: 100px;
        border: 1px solid #EC7979;
        left: calc(50% - 85px);
    }
    &-fz48 {
        text-transform: uppercase;
        color: #FFFFFF; 
        font-size: 48px;
        font-weight: 400;
        position: relative;
        z-index: 4;
        padding-bottom: 30px;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 170px;
            top: 100%;
            border: 1px solid #FFFFFF;
            left: 0;
        }
    }
    &-fz24 {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-transform: capitalize;
        text-align: center;
    }
    &__descr {
        text-align: center;
        margin-top: 100px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #86878B;
    }
    &-white {
        color: #FFFFFF;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 170px;
            top: 100px;
            border: 1px solid #FFFFFF;
            left: calc(50% - 85px);
        }
    }
    
}