.trying {
    position: relative;
    min-height: 951px;
    background: url(../assets/img/bg1.png) center (center / cover) no-repeat;
    padding: 207px 170px 183px 170px;
    display: flex;
    z-index: 2;
            // сдесь лучше сделать грид разные блоки задать в %

    justify-content: space-between;
    .bg-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    &__title {
       text-transform: uppercase;
       color: #FFFFFF; 
       font-size: 48px;
       font-weight: 400;
       position: relative;
       z-index: 4;
       padding-bottom: 30px;
    }
    &__descr {
        position: relative;
        z-index: 4;
        color: #FFFFFF;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__order {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 470px;
        height: 450px;
        background-color: #FFFFFF;
        border-radius: 3%;
        position: relative;
        z-index: 4;
        
        
        &-title {
            margin-top: 50px;
            text-transform: uppercase;
            text-align: center;
            font-size: 24px;
            line-height: 32px;
        }
        &-title_red {
            color:#EC7979;
        }
        &_form {
            padding: 0 52px 0 52px;
        }
        &_input {
            width: 100%;
            height: 38px;
            border: none;
            border-bottom: 1px solid #000;
        }
       
    }
    &__start {
        height: 8%;
        background-color: #EC7979;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        line-height: 38px;
        border-radius: 0px 0px 10px 10px;
        &:hover {
            background-color: #AB4949;
        }

    }
}



//если ты будешь это читать, не могу понять как сделать закругленную часть get started:((