* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway'

}
.container {
    margin: 0 auto;
    max-width: 1170px;
    
}

@import 'blocks/header';
@import 'blocks/trying';
@import 'blocks/social';
@import 'blocks/change';
@import 'blocks/awesome';
@import 'blocks/btn';
@import 'blocks/divider';
