* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.container {
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
    
}

@import 'blocks/header';
@import 'blocks/trying';
@import 'blocks/social';
@import 'blocks/change';
@import 'blocks/awesome';
@import 'blocks/btn';
@import 'blocks/divider';
@import 'blocks/title';
@import 'blocks/price';
@import 'blocks/tetsimotionals';
@import 'blocks/prototype';
@import 'blocks/contact';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/fonts';
@import 'blocks/media';
